@model IEnumerable<TimeManagementSystem.Models.PayPeriod>

@{
    ViewData["Title"] = ViewData["ManagedUser"] + " - Pay Periods";
}

<h2>@ViewData["ManagedUser"] - Pay Periods</h2>

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.PeriodStart)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PeriodEnd)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PeriodTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MiscMin)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PeriodTotalTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Comments)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.PeriodStart)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PeriodEnd)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PeriodTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MiscMin)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PeriodTotalTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Comments)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>