@model TimeManagementSystem.Models.PayPeriod

@{
    ViewData["Title"] = "Delete Pay Period";
}

<h2>Delete</h2>
<div>
    <h4>Pay Period</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PeriodStart)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PeriodStart)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PeriodEnd)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PeriodEnd)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MiscMin)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MiscMin)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PeriodTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PeriodTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PeriodTotalTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PeriodTotalTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>
